:root {
  --h1-font-family: 'Bungee-Regular', Helvetica;
  --h1-font-weight: 400;
  --h1-font-size: 96px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 112px;
  --h1-font-style: normal;
  --h2-font-family: 'Bungee-Regular', Helvetica;
  --h2-font-weight: 400;
  --h2-font-size: 60px;
  --h2-letter-spacing: -0.5px;
  --h2-line-height: 72px;
  --h2-font-style: normal;
  --h3-font-family: 'Bungee-Regular', Helvetica;
  --h3-font-weight: 400;
  --h3-font-size: 48px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 56px;
  --h3-font-style: normal;
  --h4-font-family: 'Bungee-Regular', Helvetica;
  --h4-font-weight: 400;
  --h4-font-size: 34px;
  --h4-letter-spacing: 0.25px;
  --h4-line-height: 36px;
  --h4-font-style: normal;
  --h5-font-family: 'Bungee-Regular', Helvetica;
  --h5-font-weight: 400;
  --h5-font-size: 24px;
  --h5-letter-spacing: 0px;
  --h5-line-height: 30px;
  --h5-font-style: normal;
  --h6-font-family: 'Bungee-Regular', Helvetica;
  --h6-font-weight: 400;
  --h6-font-size: 20px;
  --h6-letter-spacing: 0.15000000596046448px;
  --h6-line-height: 24px;
  --h6-font-style: normal;
  --subtitle-1-font-family: 'WorkSans-Regular', Helvetica;
  --subtitle-1-font-weight: 400;
  --subtitle-1-font-size: 16px;
  --subtitle-1-letter-spacing: 0.15000000596046448px;
  --subtitle-1-line-height: 24px;
  --subtitle-1-font-style: normal;
  --subtitle-2-font-family: 'WorkSans-Medium', Helvetica;
  --subtitle-2-font-weight: 500;
  --subtitle-2-font-size: 14px;
  --subtitle-2-letter-spacing: 0.10000000149011612px;
  --subtitle-2-line-height: 24px;
  --subtitle-2-font-style: normal;
  --body-1-font-family: 'WorkSans-Regular', Helvetica;
  --body-1-font-weight: 400;
  --body-1-font-size: 18px;
  --body-1-letter-spacing: 0.5px;
  --body-1-line-height: 24px;
  --body-1-font-style: normal;
  --body-2-font-family: 'WorkSans-Regular', Helvetica;
  --body-2-font-weight: 400;
  --body-2-font-size: 16px;
  --body-2-letter-spacing: 0.5px;
  --body-2-line-height: 24px;
  --body-2-font-style: normal;
  --body-3-font-family: 'WorkSans-Regular', Helvetica;
  --body-3-font-weight: 400;
  --body-3-font-size: 14px;
  --body-3-letter-spacing: 0.25px;
  --body-3-line-height: 20px;
  --body-3-font-style: normal;
  --button-font-family: 'Roboto-Medium', Helvetica;
  --button-font-weight: 500;
  --button-font-size: 14px;
  --button-letter-spacing: 1.25px;
  --button-line-height: 16px;
  --button-font-style: normal;
  --caption-font-family: 'WorkSans-Regular', Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 12px;
  --caption-letter-spacing: 0.4000000059604645px;
  --caption-line-height: 16px;
  --caption-font-style: normal;
  --overline-font-family: 'WorkSans-Medium', Helvetica;
  --overline-font-weight: 500;
  --overline-font-size: 10px;
  --overline-letter-spacing: 1.5px;
  --overline-line-height: 16px;
  --overline-font-style: normal;
  --pulpo-shadow-type: 2px 2px 0px 0px rgba(36, 31, 33, 1);
  --variable-collection-preto: rgba(0, 0, 0, 1);
  --variable-collection-shade-2: rgba(50, 50, 50, 1);
  --variable-collection-shade-3: rgba(102, 102, 102, 1);
  --variable-collection-shade-4: rgba(156, 155, 155, 1);
  --variable-collection-light-1: rgba(246, 246, 246, 1);
  --variable-collection-branco: rgba(255, 255, 255, 1);
  --variable-collection-azul-prim-10: rgba(0, 16, 67, 0.1);
  --variable-collection-azul-prim-70: rgba(0, 16, 67, 0.7);
  --variable-collection-azul-sec-10: rgba(122, 165, 215, 0.1);
  --variable-collection-azul-sec-50: rgba(122, 165, 215, 0.5);
  --variable-collection-azul-sec-70: rgba(122, 165, 215, 0.7);
  --variable-collection-azul-prim-30: rgba(0, 16, 67, 0.3);
  --variable-collection-light-3: rgba(178, 177, 177, 1);
  --variable-collection-azul-secund-rio: rgba(122, 165, 215, 1);
  --variable-collection-azul-sec-30: rgba(122, 165, 215, 0.3);
  --variable-collection-azul-prim-50: rgba(0, 16, 67, 0.5);
  --variable-collection-light-2: rgba(220, 220, 220, 1);
  --variable-collection-azul-prim-rio: rgba(0, 16, 67, 1);
  --style-tokens-brand-amarelo300: rgba(250, 150, 10, 1);
}
